ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
}

li {
    padding-left: 12px;
    font-size: 18px;
    color: #E5E7EB;
}

h1 {
    font-size: 24px;
    color: #F9FAF8;
}

h2 {
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
    margin: 0;
}

h3 {
    font-size: 36px;
    font-weight: 800;
    color: #1F2937
}

h4 {
    margin: 0;
    font-size: 24px;
}

p {
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;
    font-family: "Roboto", sans-serif;
}

.header,
.blurb {
    background-color: #1F2937;
    display: flex;
    padding-left: 18px;
    padding-right: 18px;
    padding-bottom: 64px;
}

.header {
    align-items: center;
    justify-content: center;
}

.blurbtext,
.blurbimage {
    flex: 1;
}

.blurbtext {
    flex-direction: column;
}

.blurbimage {
    display: flex;
    background-color: grey;
    align-items: center;
    justify-content: center;
    margin-left: 30px;
}

div.blurbtext > p {
    font-size: 18px;
    color: #E5E7EB;
    padding-bottom: 8px;
}

.logo {
    margin-right: auto;
}

.links {
    margin-left: auto;
}

.blurbbutton {
    background-color: #3882F6;
    border: 0;
    border-radius: 8px;
    padding: 6px 32px 6px 32px;
    color: #F9FAF8;
    font-weight: 900;
}

.images {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.imagecontainer {
    display: flex;
    flex: 1;
    justify-content: space-between;
    gap: 20px;
    padding-left: 60px;
    padding-right: 60px;
}

.imagestext {
    height: 400px;
    text-align: center;
    font-size: 18px;
}


.holder {
    height: 200px;
    border: 4px solid;
    border-color: #3882F6;
    border-radius: 8px;
    margin-bottom: 8px;
}

.quote {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 500px;
}

.quotetext {
    font-size: 36px;
    font-style: italic;
    font-weight: 300;
    color: #1F2937;
    padding-left: 60px;
    padding-right: 60px;
}

.quotesignature {
    margin-left: auto;
    padding-right: 80px;
    font-size: 24px;
    font-weight: 600;
}

.signup {
    display: flex;
    align-items: center;
    justify-content: center;
}

.signupcontainer {
    display: flex;
    background-color: #3882F6;
    border-radius: 12px;
    flex: 1;
    padding-left: 120px;
    padding-right: 120px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 80px;
    margin-bottom: 80px;
    padding-top: 40px;
    padding-bottom: 40px;
    align-items: center;
}

.signuptext {
    display: flex;
    flex-direction: column;
    flex: 1;
    color: #F9FAF8;
}

.signupbutton {
    margin-left: auto;
    background-color: #3882F6;
    border-color: #F9FAF8;
    border-radius: 12px;
    color: #F9FAF8;
    width: 120px;
    height: 35px;
}

.footer {
    background-color: #1F2937;
    font-size: 18px;
    color: #E5E7EB;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
}

body {
    margin: 0;
}